@charset "utf-8";
/* CSS Document */

html,body{height:100%;}
.top{height:100px;background:#9f9;position:relative;z-index:10;}
.left{width:200px;height:100%;background:#f99;position:absolute;top:0;left:0;}
.left .left-zi{padding-top:100px;}
.right{height:100%;width:100%;background:blue;position:absolute;top:0;left:0px;}
.right .right-zi{padding:100px 0 0 200px;}
