/*html, body{
    width: 100%;
    height: 100%;
}*/
.margin{
    width: 1102px;
    margin: 0 auto;;
}
/**
 * header
 */
header{
    padding-top: 30px;
    border-bottom: 2px solid #f2f2f2;
}
header .logo{
    float: left;
    margin-bottom: 31px;
}
header a img{
    display: block;
}
header ul{
    float: right;
    display: flex;
    justify-content: space-between;
}
header ul li{
    align-self: center;
    font: 12px/28px "";
}
header ul li a{
    display: block;
    margin-left: 40px;
    color: #23272c;
}
header ul li a:hover{
    color: #7ac7ec;
}
/**
 * banner
 */
#banner{
    height: 601px;
    background: url(../images/banner.png) no-repeat center;
}
/**
 * design
 */
#design{
    background: #f8f8f8;
}
#design ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 5px;
}
#design ul li{
    text-align: center;
}
#design ul li img{
    display: inline-block;
}
#design ul li span{
    display: block;
    font: 14px/34px "";
    color: #23272c;
    margin-top: 24px;
}
#design ul li p{
    display: block;
    width: 336px;
    font: 12px/24px "";
    color: #7a8593;
}
/**
 * product
 */
#product{
    padding: 58px 0 37px 0;
}
#product .margin{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#product span:nth-of-type(1){
    display: block;
    font: 24px/72px "";
    color: #23272c;
}
#product span:nth-of-type(2){
    display: block;
    width: 192px;
    height: 3px;
    background: #f8f8f8;
}
#product .pr-inner{
    margin-top: 32px;
    display: flex;
    justify-content: center;
}
#product .pr-inner a{
    display: block;
    font: 12px/22px "";
    color: #23272c;
}
#product .pr-inner a:nth-of-type(1){
    margin-right: 10px;
    color: #7a8593;
}
#product .pr-inner a:nth-of-type(2){
    color: #56aab3;
}
#product .pr-inner i{
    display: block;
    width: 2px;
    height: 2px;
    background: #333;
    margin: 10px 10px;
}
/**
 * show
 */
#show{

}
#show ul{
    display: flex;
    justify-content: center;
    width: 100%;
}
#show ul li{
    width: 480px;
}
#show ul li img{
    display: block;
}
/**
 * num
 */
#num{
    padding: 48px 0 44px 0;
    background: #f8f8f8;
}
#num ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
#num ul li{
    text-align: center;
}
#num ul li img{
    display: block;
    margin: 10px 0 0 147px;
}
#num ul li span{
    display: block;
    font: 14px/14px "";
    color: #7a8593;
    margin: 14px 0 0 88px;
}
/**
 * why
 */
#why{
    padding: 34px 0 75px 0;
}
#why .margin{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#why h3{
    display: block;
    font: 34px/34px "";
    color: #d71b29;
}
#why p{
    display: block;
    margin-top: 26px;
    font: 12px/24px "";
    color: #7a8593;
}
#why ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#why ul:nth-of-type(1){
    margin: 95px 0 35px 0;
}
#why ul li{
    width: 336px;
}
#why ul li img{
    display: block;
    float: left;
    border-radius: 5px;
    padding-top: 5px;
}
#why ul li .inner{
    /*float: left;*/
    padding-left: 51px;
}
#why ul li .inner span{
    display: block;
    font: 700 14px/24px "";
    color: #23272c;
}



/**
 * appraise
 */
#appraise{
    padding: 60px 0 85px 0;
    background: url(../images/bg.png);
}
#appraise .margin{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#appraise span{
    display: block;
    font: 600 14px/57px "";
    color: #fff;
}
#appraise span:nth-of-type(1){
    border-bottom: 3px solid #56aab3;
}
#appraise h3{
    display: block;
    font: 20px/40px "";
    color: #fff;
    margin-top: 24px;
}
#appraise span:nth-of-type(2){
    font: 12px/24px "";
}
#appraise span:nth-of-type(2) i{
    color: #7a8593;
}
#appraise span:nth-of-type(2) b{
    color: #4daab3;
}
#appraise ul{
    width: 158px;
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
}
#appraise ul li{

}
#appraise ul li img{
    display: block;
    border-radius: 5px;
}
/**
 * com
 */
#com{
    padding: 58px 0 80px 0;
}
#com .margin{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#com span:nth-of-type(1){
    display: block;
    font: 28px/60px "";
    color: #23272c;
}
#com span:nth-of-type(2){
    display: block;
    width: 110px;
    height: 3px;
    background: #f8f8f8;
}
#com ul{
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#com ul li{
    width: 253px;
}
#com ul li img{
    display: block;
}
#com ul li h3{
    display: block;
    font: 16px/16px "";
    color: #23272c;
    margin-top: 27px;
}
#com ul li b{
    display: inline-block;
    font: 12px/40px "";
    color: #7a8593;
}
#com ul li i{
    display: inline-block;
    color: #7a8593;
}
#com ul li u{
    display: inline-block;
    color: #56aab3;
}
#com ul li p{
    font: 12px/24px "";
    color: #7a8593;
    margin-top: 3px;
    width: 253px;
}
#com ul li a{
    display: block;
    font: 12px/12px "";
    color: #7ab1cd;
    margin-top: 16px;
}
/**
 * links
 */

#links{
    padding: 36px 0;
    display: flex;
    background: #f8f8f8;
}
#links span{
    display: inline-block;
    color: #999;
}
#links a{
    display: inline-block;
    font: 12px/12px "";
    color: #999;
    margin-left: 5px;
}
/**
 * footer
 */
footer{
    padding: 31px 0;
    background: #272b34;
}
footer .margin{
    position: relative;
}
footer p{
    display: block;
    font: 12px/24px "";
    color: #7a8593;
}
footer span{
    display: block;
    width: 41px;
    height: 42px;
    border-radius: 5px;
    background: #000;
    position: absolute;
    right: 20px;
    bottom: 0;
}
footer span img{
    display: block;
    margin: 16px 0 0 14px;
}
