@charset "utf-8";
/* CSS Document */

.layout{width:1140px;margin:0 auto;}


section{display:flex;height:167px ;background: url(../img/sonfs.jpg) no-repeat center 20%;background-size: cover;}

nav{height: 56px;}
nav ul{display: block;}
nav ul li{float: left;}

nav ul li a{font: 12px/47px "";padding: 0 10px;}





















